.form-main {
  background: url(/assests/RESTRICTED-leadAsset-IndiaShimlaExtension.webp)
    no-repeat;
  background-size: cover;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}
.error-message {
  color: red;
  text-align: center;
  width: 100%;
}
.success-message {
  color: green;
  text-align: center;
  width: 100%;
}
.form-container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.form-info {
  /* background-color: #080808a1; */
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  color: #fff;
  padding: 3rem;
}
.form-info h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  /* color: #000000; */
}
.form-info p {
  font-size: 16px;
  /* color: #000000; */
  line-height: 24px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 30px;
}

.main-form-container {
  width: 100%;
  padding: 1rem;
}

.form-container-border {
  padding: 5px 5px;
  border-radius: 15px;
  background-color: white;
}

.form {
  /* border: 1px solid red; */
  margin: auto;
  /* max-width: 400px; */
  width: 100%;
  background: white;
  padding: 20px 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.form h3 {
  margin-bottom: 20px;
  font-size: 30px;
}
.form p {
  margin-top: 10px;
  display: flex;
  align-items: start;
  font-size: 16px;
}
.check-icon {
  margin-right: 8px;
  display: flex;
  margin-top: 3px;
  align-items: center;
  font-size: 20px;
}
.form-input {
  margin-top: 15px;
}
.form-input input {
  width: 100%;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  height: 45px;
  padding: 0 10px;
  border: 2px solid #eee;
  transition: border 0.3s ease;
}
.form-input input:focus {
  border: 1px solid #ff8810;
}
.form-btn {
  padding: 10px;
  color: white;
  background-color: #ff8810;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-btn:hover {
  background-color: #2f5292;
  animation: pulse 1s infinite;
}

/* Pulse animation during submitting state */
.form-btn.submitting {
  background-color: #ffb74d; /* Slightly different shade */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* Fade out animation for submitted state */
.form-btn.submitted {
  background-color: #4caf50; /* Green for success */
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1024px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
  }
  .form-info {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .form-info {
    padding: 2rem 1rem;
  }
  .form {
    padding: 20px 10px;
  }
  .form h3 {
    font-size: 24px;
  }
  .form p {
    font-size: 14px;
  }
  .form-container {
    gap: 0px;
  }
}

/* Animated border */
.card-border {
  position: relative;
  width: 100%;
  border-radius: 13.34px;
  isolation: isolate;
  /* background-color: #1f2835cc; */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  overflow: hidden;
}

.card-border::before,
.card-border::after {
  content: "";
  position: absolute;
}

.card-border::before {
  content: ""; /* Create content for the pseudo-element */
  position: absolute;
  width: 100%;
  height: 180%;

  z-index: -2; /* Ensure it's behind the card-border content */
  animation: border 8s linear infinite; /* Optional gradient animation */
}

@keyframes border {
  to {
    transform: rotateZ(-360deg);
  }
}

.card-border::after {
  /* background-color: #1f2835; */
  inset: 2px;
  border-radius: 13.34px;
}

/* Animated border */
.card-border-wide {
  position: relative;
  width: 100%;
  border-radius: 13.34px;
  isolation: isolate;
  /* background-color: #1f2835cc; */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  overflow: hidden;
}

.card-border-wide::before,
.card-border-wide::after {
  content: "";
  position: absolute;
}

.card-border-wide::before {
  content: "";
  position: absolute;
  width: 180%;
  height: 130%;
  background: linear-gradient(
    0deg,
    rgba(47, 82, 146, 0) 13.7%,
    rgba(47, 82, 146, 0.4) 27.55%,
    #2f5292 36.4%,
    #ffb74d 53.88%,
    rgba(47, 82, 146, 0) 89.18%
  );

  z-index: -2;
  animation: border-wide 8s linear infinite;
}

@keyframes border-wide {
  0% {
    transform: rotateZ(0deg);
    animation-timing-function: ease-in; /* Speed up at the start */
  }
  10% {
    transform: rotateZ(-36deg); /* Faster rotation in the first 10% */
    animation-timing-function: linear; /* Maintain normal speed afterward */
  }
  90% {
    transform: rotateZ(-324deg); /* Normal speed between 10% and 90% */
    animation-timing-function: ease-out; /* Start speeding up at the end */
  }
  100% {
    transform: rotateZ(-360deg); /* Complete rotation, speed up */
  }
}

.card-border-wide::after {
  /* background-color: #1f2835; */
  inset: 2px;
  border-radius: 13.34px;
}
